@import './assets/style/colors.scss';

.App {
  min-height: 100vh;

  a {
    text-decoration: none;
    color: $primary;
  }

  a:active,
  a:visited {
    text-decoration: none;
    color: $primary;
  }

  .app-content {
    display: flex;
    min-width: 1024px;
    min-height: 100vh;

    .sidebar {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      width: 300px;
    }

    .main-container {
      flex: 1;
    }
  }
}
